html {
    background-color: black;
}
h1 {
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    text-transform: uppercase;
}
p {
    color: white;
    font-family: 'Libre Baskerville', serif;
}

img {
    width: 100%;
    border: 5px white solid;
}

div {
    text-align: center;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
}